@page "/Team"

<h1>Deltag som team på Tres Dias</h1>

<p>Tjene Jesus kaldte os til at være menneske fiskere. Til at sørge for og hjælpe dem omkring os.</p>

<p>Der er flere muligheder for at tjene på en Tres Dias weekend.</p>

<p> kan komme og hjælpe til med praktiske ting på weekenden. Hvis det er noget for dig, og du har været med som pilgrim, kan du kontakte rektor/rektora for den næste weekend, og sige du gerne vil hjælpe til.</p>

<p>Da vi har folk der beder for pilgrimmene hele weekenden, er det også muligt at melde sig på som forbeder.</p>
