@page "/About"

@{
    ViewData["Title"] = "Om";
}


<h1>Hvad er Tres Dias</h1>

<p>Hvad er Tres Dias? En oplevelse af Kristen livsførelse “Tres Dias” er spansk og betyder “tre dage”</p>

<p>Tres Dias er en tre dages weekend i Guds nærværd, som bl.a. indeholder stilhed, latter, mad, oplæg, diskussioner, gruppearbejde, lovsang, bøn og en masse fællesskab for at bringe deltagerne (kaldet for pilgrimme) i en ny sammenhæng med andre kristne, kirken og Kristus.</p>

<p>For at kunne være med på Tres Dias weekend, skal man være mindst 21 år, og være inviteret med som pilgrim, af en sponsor, som selv har været afsted på en weekend. Når man har været afsted på en weekend som pilgrim, kan man kun komme med som hjælper til weekenden, hvilket også er meget berigende.</p>

<p>Tres Dias er unik, idet det er en tværkirkelig begivenhed, en super weekend for dig der ønsker et dybere forhold med Herren Jesus. Tres Dias er ikke en kirke. Tværtimod opfordrer den dig til at være aktiv i din lokale kirke. I over 50 år har Tres Dias ændret livet for kristne rundt omkring i verden. Med over 40 lokalsamfund i hele verden.</p>

<p>Tres Dias weekenden er en 3-dages begivenhed, centreret omkring vækst i den enkeltes liv med Kristus. Dynamikken, programmet, som bruges og rækkefølgen af talerne er dybest set den samme som blev udviklet ved den første Cursillo weekend, som blev holdt på Mallorca i 1949. Derfor skulle det være det samme, om det holdes i Spanien, Rusland, Australien eller i Danmark.</p>

<p>Der findes Tres Dias weekender for mænd og kvinder i Danmark. Måske har du hørt om lignende weekender som Cursillo, Emmausvandringen eller lignende. Tres Dias er en økomenisk udgave og betyder simpelthen ”tre dage” på spansk.</p>

<p>Tres Dias er et møde med Kristus. Det lyder simpelt, men det er ikke. Et møde med Kristus!</p>

<p>Kan din verden blive forvandlet på en måde, der er mere frugtbart end tidligere og i overensstemmelse med tiden?</p>

<p>Tres Dias Weekenden foreslår ikke nogen ny spiritualitet. Det er simpelthen en måde, hvorigennem ens åndelighed kan udvikles, leves og deles i alle områder, hvor kristne bestræber sig på at dedikere deres liv til Gud på en vedvarende måde.</p>

<p>Formen af weekenden er oplæg og efterfølgende diskussioner, andagter mm. og er med til at hjælpe os opnå en hvis form for introspektion og opleve en kraftfuld,personlig fornyelse og en levende forståelse af Guds grundlæggende sandheder.</p>

<p>Tres Dias weekenden varer c. 72 timer og begynder på en torsdag aften (kl. 19) og slutter den følgende søndag eftermiddag (c. kl. 16.30). Det kræver din tilstedeværelse for alle tre dage.</p>

<p>Tres Dias Weekender er struktureret omkring samtaler, diskussioner, sang, latter, glæde, mad, overraskelser, tæt fællesskab, kærlighed og opdagelse. Weekenden er organiseret og drives af hold af lægmænd sammen med to eller tre præster/pastorer, som alle tidligere har selv oplevet en lignende weekend.</p>

<p>Du bliver opfordret til at tage det, Gud taler til dig med hjem til din kirke og tjene videre dér. Målet med oplevelsen er at opmuntre dig, og give plads til, at Gud kan møde dig, lige dér, hvor du er.</p>

<p>Det eneste, der kræves er en åbenhed over for Guds ord og for kærligheden fra dine medkristne.</p>

<p>Weekenden er designet til at møde alle kristnes behov, lige meget hvor de befinder sig i deres kristenliv.</p>

<p>Kom og slut dig til os! Vi glæder os til at se dig!</p>