@page "/Pilgrim"

@{
    ViewData["Title"] = "Pilgrim";
}

<h1>Deltag som pilgrim på Tres Dias</h1>

<p>En Tres Dias oplevelse er virkelig livsændrende. Ligegyldigt hvad du søger efter, så vil Gud møde dig lige præcis der hvor du er.</p>

<p>Hvorfor tage på en Tres Dias Weekend?</p>

<p>Styrker dig i dit personlige forhold til Jesus Kristus Uddyber din påskønnelse af Guds kærlighed og din respons på ham Udvikler lederevner til de kristne samfund Du er blevet personligt inviteret under bøn</p>