@page "/"

@{
    ViewData["Title"] = "Forside";
}

<h1>Tres Dias Danmark</h1>

<h2>En kristen tjeneste, der sigter på at udruste kristne mænd og kvinder i deres liv med Kristus</h2>

<p style="font-weight: bold">En weekend eller 3 dage hvor vi:</p>
<p>Fokuser på Gud uendelige kærlighed til os gennem nåden</p>
<p>Udruster både pilgrimme og team til at tjene i deres lokale menighed</p>
<p>Fokuserer på det, der binder os sammen, i stedet for det, der adskiller os</p>