<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] | Tres Dias Danmark</title>
    <link rel="stylesheet" href="~/css/Page.css" />
</head>
<body>

<header>
    @if (ViewContext.RouteData.Values["page"]?.ToString().Contains("Admin") == true)
    {
        <partial name="/Pages/Shared/_AdminNavigation.cshtml"/>
    }
    else
    {
        <partial name="/Pages/Shared/_Navigation.cshtml"/>
    }
</header>

<main>
    @RenderBody()
</main>

<footer>
    <p>© Tres Dias Danmark 2026</p>
</footer>

</body>
</html>