
body {
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: sans-serif;
    height: 100vh;
    overflow-y: scroll;
}

footer {
    position: absolute;
    bottom: 0;
}

.logo {
    display: block;
    height: 5rem;
    width: 5rem;
}

.nav-bar {
    padding-top: 1rem;
    margin: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-buttons {
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-buttons a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16pt;
    margin-left: 1rem;
    padding: 5px;
    height: 2rem;
}

.nav-buttons a:hover {
    color: grey;
}

.nav-buttons a.active {
    color: grey;
}

.btn-login {
    color: black;
    font-weight: bold;
    font-size: 16pt;
    height: 2rem;
    width: 100%;
    background: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.btn-login:hover {
    color: gray;
    cursor: pointer;
    width: 100%
}

.form-group {
    width: 100%;
    margin: 0.5rem;
}

.login-container{
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    display: flex;
}

.error {
    color: red;
    font-style: italic;
    font-size: 8pt;
}