<div class="nav-bar">
    <div>
        <a href="/">
            <img class="logo" src="Logo/logo.jpg"/>
        </a>
    </div>
    

    <div class="nav-buttons">
        <a href="/About">Om</a>
        <a href="/Pilgrim">Deltag</a>
        <a href="/Team">Tjen</a>
    </div>
    
    <div class="nav-buttons">
        <a href="/Admin">
            Team login
        </a>
    </div>
</div>